*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color palette */

:root {
    --grey: #282828;
    --lightgrey: #606268;
    --blue: #141922;
    --green: #87C52C;
}


/* menu  */

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.logo-small{
    display: none;
}

ul{
    list-style: none;
}

li{
    line-height: 2rem;
}

.icon,
.install{
    display: flex;
    align-items: center;
}

.icon:last-child{
    margin-bottom: 2rem;
}

.playlist-menu .title{
    color: white;
}

.add-playlist{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.fa-square-plus{
    font-size: 35px;
    margin-right: 1rem;
    color: var(--lightgrey);
}

.install{
    max-width: 90%;
    border-bottom: 1px solid var(--lightgrey);
    padding-bottom: 1rem;
}

.account{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.user{
    font-weight: 600;
    color: white;
}

/* upgrade */

.upgrade{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade button{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border-color: white;
    border-radius: 25px;
    padding: 1rem 3rem 1rem;
    
}

/* content */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: calc(85px + 2rem);
    margin-bottom: 3rem;
}

li {
    list-style: none;
    font-weight: 500;
    
}

a {
    text-decoration: none;
    color: var(--lightgrey);
}

.underline::after {
    content: "";
    display: block;
    justify-self: center;
    height: .2rem;
    width: 2rem;
    margin-left: 2rem;
    background-color: var(--green)
}

/* first section */

.recent{
    margin-right: 2.5rem;
    margin-left: 1rem;
}

.sec-title, .title{
    color: white;
}

.sec-title{
    margin-bottom: 2rem;
}

.recent .container{
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.playlist{
    max-width: calc((100% - 5rem) / 6);
    flex: 0 1 auto;
}

.album, .album-sec3{
    display: block;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 1.5rem;
}

.title{
    margin-bottom: 1rem;
}

.artist{
    color: var(--lightgrey);
    font-weight: 100;
}

/* second section */

.sec-title-2{
    margin-bottom: 1rem;
    color:white;
}

.subtitle-2{
    margin-bottom: 1.5rem;
    color: var(--lightgrey);
    font-weight: 100;
}

.recent .container-2{
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
}

/* third section */

.album-sec3{
    border-radius: 50%;
}


/* player */

.player,
.song,
.buttons, 
.track-bar,
.volume{
    display: flex;
    align-items: center;

}

.player{
    justify-content: space-between;
    color: white;
}

.artist{
    color: white;
}

.title{
    color: var(--lightgrey);
}

.buttons,
.track-bar{
    flex-direction: row;
    justify-content: center;
}



/* media */

@media screen and (max-width: 552px){
    .logo-small{
        display: block;
        margin-bottom: 1rem;
    }

    .hidden{
        display: none;
    }

    .upper-top-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }

    .install{
        margin-inline: 0;
    }

    .account{
        margin-inline: 0;
    }

    .install{
       border: none;
    }
}

@media screen and (max-width: 878px) {
    .navbar{
        flex-wrap: wrap;
        padding-inline: .5rem;
    }

    .playlist{
        max-width: calc((100% - 3rem) / 4);
    }
}

@media screen and (max-width: 639px) {
    .playlist{
        max-width: calc((100% - 1rem) / 2);
    }
}

@media screen and (max-width: 552px) {  
    .menu{
        max-width: 50px;
    }

    .upgrade{
        left: 50px;
        width: calc(100% - 50px);
    }
    .content{
        left: 50px;
        width: calc(100% - 50px);
    }
    .playlist{
        max-width: calc((100% - 1rem) / 2);
    }
}