*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color palette */

:root {
    --grey: #282828;
    --lightgrey: #606268;
    --blue: #141922;
    --green: #87C52C;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: calc(85px + 2rem);
    margin-bottom: 3rem;
}

li {
    list-style: none;
    font-weight: 500;
    
}

a {
    text-decoration: none;
    color: var(--lightgrey);
}

.underline::after {
    content: "";
    display: block;
    justify-self: center;
    height: .2rem;
    width: 2rem;
    background-color: var(--green)
}

/* first section */

.sec-title, .title{
    color: white;
}

.sec-title{
    margin-bottom: 2rem;
}

.recent{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 2.5rem;
    margin-left: 1rem;
}

.album{
    display: block;
    width: 180px;
    aspect-ratio: 1 / 1;
    margin-bottom: 1.5rem;
}

.title{
    margin-bottom: 1rem;
}

.artist{
    color: var(--lightgrey);
}